* {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    position: relative;
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;

    &__cap {
        font-family: Montserrat;
        font-style: Bold;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        max-width: 769px;
        max-height: 156px;
        padding-top: 196px;
        padding-bottom: 24px;
        color: #202027;
    }

    &__description {
        font-family: Montserrat;
        font-style: Regular;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 400;
        max-width: 720px;
        max-height: 64px;
        padding-bottom: 48px;
        color: #202027;
    }

    &__btn {
        border: 1px solid #202027;
        border-radius: 60px;
        background-color: #202027;
        min-width: 247px;
        min-height: 66px;
        font-family: Montserrat;
        font-style: SemiBold;
        font-size: 24px;
        line-height: 142%;
        letter-spacing: 0%;
        text-align: center;
        font-weight: 600;
        color: #FFFFFF;
    }

    &__btn:hover {
        background-color: #FFFFFF;
        color: #202027;
    } 
}

.img {

    &__2 {
        position: absolute;
        top: 94px;
        left: 63px;
    }

    &__3 {
        position: absolute;
        top: 69px;
        left: 156px;
    }

    &__4 {
        position: absolute;
        top: 568px;
        left: 1013px;
    }

    &__5 {
        position: absolute;
        top: 538px;
        left: 948px;
    }

    &__6 {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    &__7 {
        position: absolute;
        top: 0px;
        right: 269px;
    }

    &__8 {
        position: absolute;
        top: 254px;
        right: 231px;
    }

    &__9 {
        position: absolute;
        top: 379px;
        right: 10px;
    }

    &__10 {
        position: absolute;
        top: 468px;
        right: 113px;
    }

    &__11 {
        position: absolute;
        top: 663px;
        right: 61px;
    }

    &__12 {
        display: none;
    }
}

.info {
    position: relative;
    background-image: url(./image/background-game.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1470px;

    &__game {
        font-family: Montserrat;
        font-style: Bold;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        color: #FFFFFF;
        padding-top: 94px;
        padding-bottom: 24px;
    }

    &__description {
        font-family: Montserrat;
        font-style: Regular;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 400;
        color: #FFFFFF;
        max-width: 788px;
        padding-bottom: 72px;
    }

    &__description span {
        display: block;
    }
}

.conteiner {
    position: relative;
    z-index: 10;
    max-width: 1201px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.conteiner-cart {
    max-width: 378px;
    max-height: 473px;
    background-color: #FFFFFF;
    border-radius: 30px;

    &__game {
        text-decoration: none;
    }

    &__desc {
        background-color: #F7F7F7;
        border: 1px solid #F7F7F7;
        border-radius: 52px;
        min-width: 108px;
        min-height: 36px;
        font-family: Montserrat;
        font-style: Medium;
        font-size: 16px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        vertical-align: bottom;
        font-weight: 500;
        margin-top: 32px;
        margin-left: 32px;
        color: #202027;
        margin-bottom: 16px;
    }

    &__title {
        padding-left: 32px;
        padding-bottom: 32px;
        font-family: Montserrat;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        color: #202027;
    }
}

.conteiner-cart:hover {
    transform: scale(1.05);
}

.conteiner-cart-2 {
    max-width: 378px;
    max-height: 512px;
    background-color: #FFFFFF;
    border-radius: 30px;

    &__game {
        text-decoration: none;
    }

    &__desc {
        background-color: #F7F7F7;
        border: 1px solid #F7F7F7;
        border-radius: 52px;
        min-width: 108px;
        min-height: 36px;
        font-family: Montserrat;
        font-style: Medium;
        font-size: 16px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        vertical-align: bottom;
        font-weight: 500;
        margin-top: 32px;
        margin-left: 32px;
        color: #202027;
        margin-bottom: 16px;
    }

    &__title {
        padding-left: 32px;
        padding-bottom: 32px;
        font-family: Montserrat;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        color: #202027;
    }
}

.conteiner-cart-2:hover {
    transform: scale(1.05);
}

.conteiner-cart-3 {
    max-width: 378px;
    max-height: 473px;
    background-color: #FFFFFF;
    border-radius: 30px;

    &__game {
        text-decoration: none;
    }

    &__desc {
        background-color: #F7F7F7;
        border: 1px solid #F7F7F7;
        border-radius: 52px;
        min-width: 108px;
        min-height: 36px;
        font-family: Montserrat;
        font-style: Medium;
        font-size: 16px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        vertical-align: bottom;
        font-weight: 500;
        margin-top: 32px;
        margin-left: 32px;
        color: #202027;
        margin-bottom: 16px;
    }

    &__title {
        padding-left: 32px;
        padding-bottom: 32px;
        font-family: Montserrat;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        color: #202027;
    }
}

.conteiner-cart-3:hover {
    transform: scale(1.05);
}

.conteiner-cart-4 {
    max-width: 378px;
    max-height: 551px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-top: -32px;

    &__game {
        text-decoration: none;
    }

    &__desc {
        background-color: #F7F7F7;
        border: 1px solid #F7F7F7;
        border-radius: 52px;
        min-width: 108px;
        min-height: 36px;
        font-family: Montserrat;
        font-style: Medium;
        font-size: 16px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        vertical-align: bottom;
        font-weight: 500;
        margin-top: 32px;
        margin-left: 32px;
        color: #202027;
        margin-bottom: 16px;
    }

    &__title {
        padding-left: 32px;
        padding-bottom: 36px;
        font-family: Montserrat;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        color: #202027;
    }

    & span {
        display: block;
    }
}

.conteiner-cart-4:hover {
    transform: scale(1.05);
}

.conteiner-cart-5 {
    max-width: 378px;
    max-height: 512px;
    background-color: #FFFFFF;
    border-radius: 30px;

    &__game {
        text-decoration: none;
    }

    &__desc {
        background-color: #F7F7F7;
        border: 1px solid #F7F7F7;
        border-radius: 52px;
        min-width: 108px;
        min-height: 36px;
        font-family: Montserrat;
        font-style: Medium;
        font-size: 16px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        vertical-align: bottom;
        font-weight: 500;
        margin-top: 32px;
        margin-left: 32px;
        color: #202027;
        margin-bottom: 16px;
    }

    &__title {
        padding-left: 32px;
        padding-bottom: 32px;
        font-family: Montserrat;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        color: #202027;
    }

    & span {
    display: block;
    }
}

.conteiner-cart-5:hover {
    transform: scale(1.05);
}

.conteiner-cart-6 {
    max-width: 378px;
    max-height: 551px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-top: -32px;

    &__game {
        text-decoration: none;
    }

    &__desc {
        background-color: #F7F7F7;
        border: 1px solid #F7F7F7;
        border-radius: 52px;
        min-width: 108px;
        min-height: 36px;
        font-family: Montserrat;
        font-style: Medium;
        font-size: 16px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        vertical-align: bottom;
        font-weight: 500;
        margin-top: 32px;
        margin-left: 32px;
        color: #202027;
        margin-bottom: 16px;
    }

    &__title {
        padding-left: 32px;
        padding-bottom: 36px;
        font-family: Montserrat;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        color: #202027;
    }

    & span {
        display: block;
    }
}

.conteiner-cart-6:hover {
    transform: scale(1.05);
}

.img-info {

    &__1 {
        position: absolute;
        top: 770px;
        left: 25px;
    }

    &__2 {
        position: absolute;
        top: 822px;
        left: 40px;
    }

    &__3 {
        position: absolute;
        z-index: 0;
        top: 77px;
        right: 0px;
        display: grid;
    }
}

.mini {
    position: relative;
    background-image: url(./image/backgroung-mini.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 3500px;

    &__games {
        font-family: Montserrat;
        font-style: Bold;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        font-weight: 700;
        color: #FFFFFF;
        padding-bottom: 72px;
    }

    .games {
        
        &__1 {
            display: flex;
            flex-direction: row;
            background-color: #f0f0f0;
            border-radius: 30px;
            width: 1200px;
            height: 500px;
            position: relative;
            z-index: 10;
        }

        &__info {
            padding-left: 48px;
        }

        &__name-1 {
            font-family: Montserrat;
            font-style: Bold;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;
            font-weight: 700;
            color: #202027;
            padding-top: 48px;
            min-width: 552px;

            & span {
                display: block;
            }
        }

        &__description {
            font-family: Montserrat;
            font-style: Regular;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0px;
            vertical-align: middle;
            font-weight: 400;
            color: #202027;
            padding-top: 24px;
            padding-bottom: 36px;
            max-width: 497px;
        }

        &__description span {
            display: block;
        }

        .desc-line1, .desc-line2 {
            display: inline;
        }
        .desc-line3 {
            display: inline;
        }

        &__btn {
            background-color: #202027;
            color: white;
            border: none;
            border-radius: 60px;
            min-width: 247px;
            min-height: 66px;
            font-size: 24px;
        }

        &__btn:hover {
            border: 1px solid #202027;
            background-color: #FFFFFF;
            color: #202027;
        }

        &__img {
            width: 600px;
            height: 500px;
            display: block;
        }

        &__2 {
            display: flex;
            flex-direction: row;
            background-color: #f0f0f0;
            border-radius: 30px;
            width: 1200px;
            height: 500px;
            margin-top: 32px
        }

        &__name-2 {
            font-family: Montserrat;
            font-style: Bold;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;
            font-weight: 700;
            color: #202027;
            padding-top: 48px;
            min-width: 552px;

            & span {
                display: block;
            }
        }

        &__3 {
            display: flex;
            flex-direction: row;
            background-color: #f0f0f0;
            border-radius: 30px;
            width: 1200px;
            height: 500px;
            margin-top: 32px
        }

        &__name-3 {
            font-family: Montserrat;
            font-style: Bold;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;
            font-weight: 700;
            color: #202027;
            padding-top: 48px;
            min-width: 552px;

            & span {
                display: inline;
            }
        }

        &__4 {
            display: flex;
            flex-direction: row;
            background-color: #f0f0f0;
            border-radius: 30px;
            width: 1200px;
            height: 500px;
            margin-top: 32px
        }

        &__name-4 {
            font-family: Montserrat;
            font-style: Bold;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;
            font-weight: 700;
            color: #202027;
            padding-top: 48px;
            min-width: 552px;

            & span {
                display: block;
            }
        }

        &__5 {
            display: flex;
            flex-direction: row;
            background-color: #f0f0f0;
            border-radius: 30px;
            width: 1200px;
            height: 500px;
            margin-top: 32px
        }

        &__name-5 {
            font-family: Montserrat;
            font-style: Bold;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;
            font-weight: 700;
            color: #202027;
            padding-top: 48px;
            min-width: 552px;

            & span {
                display: block;
            }
        }

        &__6 {
            display: flex;
            flex-direction: row;
            background-color: #f0f0f0;
            border-radius: 30px;
            width: 1200px;
            height: 500px;
            margin-top: 32px
        }

        &__name-6 {
            font-family: Montserrat;
            font-style: Bold;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;
            font-weight: 700;
            color: #202027;
            padding-top: 48px;
            min-width: 552px;

            & span {
                display: block;
            }
        }
    }
}

.img-mini {

    &__1 {
        position: absolute;
        top: 80px;
        right: 44px;
        z-index: 0;
    }

    &__2 {
        position: absolute;
        top: 47px;
        right: 123px;
    }

    &__3 {
        position: absolute;
        bottom: 65px;
        right: 65px;
    }

    &__4 {
        position: absolute;
        bottom: 45px;
        right: 150px;
    }
}

.footer {
    background-image: url(./image/background-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;

    &__info {
        font-family: Montserrat;
        font-style: SemiBold;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        font-weight: 600;
        color: #000000;
        padding-top: 61px;
    }
}

@import "mobile";
